<!-- Navigation Bar -->
<div class="nav">
  <a href="/">Home</a>
  <a href="/dashboard">Dashboard</a>
  <a href="/login">Login</a>
  <a href="/logout">Logout</a>
</div>

<h1>Tech Blog</h1>

<p> My name {{name}} </p>

<p> My address {{address}}</p>


  {{#each posts}}
  <div style="border: solid black 1px ;">
  <div style="background-color: aqua; display:flex; justify-content:space-between;">
    <h3>{{title}} </h3>
    <h3>User Name: {{username}} Date: {{created_at}} </h3>
  </div>
  <div>
    <p>{{post_text}}</p>
  </div>
</div>
  {{/each}}
  






{{!--
{{title}}



<!-- Post -->
<div id="post">
  <div id="post-header" style="border: none;">
    <p style="color: white; font-size:30px">Title of Post</p>
    <p style="color: white; font-size:30px">Posted by Jane Doe on June 15th, 2020</p>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vestibulum euismod ornare. Donec
      pellentesque
      iaculis libero ac aliquam. Nullam sed odio nibh. Nulla facilisi. Praesent auctor augue at convallis scelerisque.
      Aliquam erat volutpat. Praesent vel quam sapien. Etiam et nisi velit. Sed leo neque, varius sed eros eget,
      rhoncus
      condimentum magna. Sed et posuere felis, sed sodales tortor. </p>
  </div>
</div> --}}